body {
    /* background-color: aquamarine; */
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/*
Ironhack Web Dev Jan 2021
Author: Jorge Sirias
Date: 2/20/2021
*/

.left-bar {
    height: 100px;
    width: 200px;
}

.right-bar {
    height: 100px;
    width: 200px;
}

header h1 {
    text-align: center;
    margin-top: 40px;
}

#play-area {
    border: 1px darkblue solid;
    background-color: beige;
}

footer {
    margin-top: 40px;
    text-align: center;
}